<launch>

    <arg name="project" default="lio_sam"/>

    <arg name="image_topic" default="/camera/color/image_raw"/>
    <arg name="camera_info_topic" default="/camera/color/camera_info"/>
    <arg name="pose_topic" default="/qr_detection/pose"/>
    <arg name="detection_topic" default="/qr_detection/detection"/>
    <arg name="debug_image_topic" default="/qr_detection/image"/>
    <arg name="camera_frame" default="camera_color_optical_frame"/>
    <arg name="dictionary_name" default="DICT_6X6_250"/>

    <arg name="marker_size" default="0.14"/>
    <arg name="confidence_threshold" default="0.55"/>
    <arg name="publish_image" default="false"/>

    <arg name="adaptive_thresh_win_size_min" default="3"/>
    <arg name="adaptive_thresh_win_size_max" default="23"/>
    <arg name="adaptive_thresh_win_size_step" default="10"/>
    <arg name="adaptive_thresh_constant" default="7.0"/>
    <arg name="min_marker_perimeter_rate" default="0.03"/>
    <arg name="polygonal_approx_accuracy_rate" default="0.03"/>
    <arg name="debug_axis_length" default="0.1"/>

    <node pkg="$(arg project)" type="$(arg project)_qrDetection" name="$(arg project)_qrDetection" output="screen" respawn="true">
        <param name="image_topic" value="$(arg image_topic)"/>
        <param name="camera_info_topic" value="$(arg camera_info_topic)"/>
        <param name="pose_topic" value="$(arg pose_topic)"/>
        <param name="detection_topic" value="$(arg detection_topic)"/>
        <param name="debug_image_topic" value="$(arg debug_image_topic)"/>
        <param name="camera_frame" value="$(arg camera_frame)"/>
        <param name="dictionary_name" value="$(arg dictionary_name)"/>

        <param name="marker_size" value="$(arg marker_size)"/>
        <param name="confidence_threshold" value="$(arg confidence_threshold)"/>
        <param name="publish_image" value="$(arg publish_image)"/>

        <param name="adaptive_thresh_win_size_min" value="$(arg adaptive_thresh_win_size_min)"/>
        <param name="adaptive_thresh_win_size_max" value="$(arg adaptive_thresh_win_size_max)"/>
        <param name="adaptive_thresh_win_size_step" value="$(arg adaptive_thresh_win_size_step)"/>
        <param name="adaptive_thresh_constant" value="$(arg adaptive_thresh_constant)"/>
        <param name="min_marker_perimeter_rate" value="$(arg min_marker_perimeter_rate)"/>
        <param name="polygonal_approx_accuracy_rate" value="$(arg polygonal_approx_accuracy_rate)"/>
        <param name="debug_axis_length" value="$(arg debug_axis_length)"/>
    </node>

</launch>
